body, html {
    border: 0;
	height: 100%;
}
#videos {
    position: relative;
    width: 100%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
}
#subscriber {
    position: absolute;
    left: 15%;
    top: 15%;
    width: 30%;
    height: 80%;
    z-index: 10;
	border: 3px solid white;
    border-radius: 3px;
}
#publisher {
    position: absolute;
    width: 30%;
    height: 80%;
    top: 15%;
    left: 55%;
    z-index: 100;
    border: 3px solid white;
    border-radius: 3px;
}

#endsession {
	text-align: center;
	margin: auto;
}